--------------------------------------------------------------------------------------------------
--                                                                            
--  File Name:   sqlscript.sql                                   
--                                                                            
--  Description: Blank SQL script                                          
--                                                                            
--  Comments:    This blank script is intended for advanced users. 
--               To create a script from an existing database with step-by-step  
--		         instructions, use the Database Import Wizard. 
--                                                                                                               
---------------------------------------------------------------------------------------------------

Create table test(ID numeric, Name char);